<h1>Hello, Welcome to Vega!</h1>

<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">@</span>
    <input type="text" class="form-control" placeholder="Make" aria-describedby="basic-addon1">
</div>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">@</span>
    <input type="text" class="form-control" placeholder="Model" aria-describedby="basic-addon1">
</div>
Make:
Model:
Is this vehicle registered?
Features:
Contact Name:
Contact Phone:
Contact Email:
